global
    daemon
    maxconn 50000
    stats socket /var/lib/haproxy/haproxy.sock mode 0600 level admin
defaults
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend mysql_in
    bind {{ haproxy_bind_address }}:3306
    maxconn 30000
    default_backend mysql_backend


backend ju_backend
    mode http
    ##  Force SSL ##
    # redirect scheme https if !{ ssl_fc }
    balance roundrobin
{% for balancing_server in haproxy_balancing_servers %}
    server {{ balancing_server.name }} {{ balancing_server.ip }}:8080 maxconn 30000 check inter 2000 rise 2 fall 5
{% endfor %}
    option forwardfor

backend mysql_backend
    balance roundrobin
    option mysql-check user haproxy
    server  node0   192.168.202.200:3306 maxconn 151 check
    server  node1   192.168.202.201:3306 maxconn 151 check
    server  node2   192.168.202.202:3306 maxconn 151 check

listen stats :8181
   mode http
   stats enable
   stats realm Haproxy\ Statistics
   stats uri /
   stats auth haproxy:ju
